.light .contextmenu {
    background: white;
    stroke: white;
    border: 0 solid #999;
}

.light .contextmenu .contextmenu-divider hr {
    background: rgba(196, 196, 196, 0.5);
}

.light .contextmenu .contextmenu-item.contextmenu-item-selected {
    background: lightblue;
}

.light .contextmenu .contextmenu-item .contextmenu-item-name {
    color: rgba(189, 72, 72, 0.9);
}

.light .contextmenu .contextmenu-item .contextmenu-item-hotkey {
    color: #aaa;
}
