.contextmenu {
    background: white;
    overflow: auto;
    stroke-width: 1px;
    stroke: white;
    border: 0 solid #999;
    border-radius: 1px;

    /* shadow */
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

    /* no select */

    /* moz-user-select: -moz-none; */
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contextmenu_item {
    /* 居中 */
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    display: -webkit-flex;
}

.contextmenu_item_icon {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 2px;
    margin: 6px;
}

.contextmenu_item_text {
    margin-left: 4px;
    margin-right: 16px;
    flex-grow: 1;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.9);
}

.contextmenu_item_hotkey {
    margin-left: 12px;
    margin-right: 8px;
    font-size: 8px;
    color: #aaa;
}

.contextmenu_item_arrow {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    margin-left: 8px;
    margin-right: 8px;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;

    /* https://www.zhangxinxu.com/sp/svgo/ */
    background:
        url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M325.315 764.323V255.492c0-28.16 22.598-50.934 50.757-50.934 13.093 0 24.932 5.024 33.901 13.092l335.755 251.633c22.24 16.859 26.905 48.607 10.044 71.024-2.871 3.947-6.281 7.355-10.045 10.045l-339.338 254.51c-22.241 16.676-54.16 12.193-70.844-10.225-6.996-9.15-10.225-19.73-10.225-30.31z'/%3E%3C/svg%3E")
        no-repeat center/100%;
}

.contextmenu_item_divider {
    width: 96%;
    height: 1px;
    background: rgba(196, 196, 196, 0.5);
}

.contextmenu_item .disabled {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: progid:dximagetransform.microsoft.basicimage(grayscale=1);
    _filter: none;
    -moz-opacity: 0.6;
    opacity: 0.6;
}

.contextmenu_item .selected {
    border-radius: 1px;
    background-color: whitesmoke;
    color: white;
}
