/*
 *****************************************************************
 * root style
 *****************************************************************
 */

.contextmenu {
    overflow: auto;

    /* non select */
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* padding */
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 1px;

    /* margin: unsupported; */
}

/*
 *****************************************************************
 * divier style
 *****************************************************************
 */

.contextmenu .contextmenu_divider hr {
    height: 1px;
    padding: 0;
    margin: 1px;
}

/*
 *****************************************************************
 * item style
 *****************************************************************
 */

.contextmenu .contextmenu_item {
    pointer-events: auto;
}

.contextmenu .contextmenu_item tr {
    vertical-align: middle;
}

.contextmenu .contextmenu_item.contextmenu_item_selected {
    pointer-events: auto;
}

.contextmenu .contextmenu_item.contextmenu_item_disabled {
    pointer-events: none;
}

.contextmenu .contextmenu_item .contextmenu_item_icon {
    display: block;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    margin-left: 12px;
}

.contextmenu .contextmenu_item .contextmenu_item_text {
    word-break: keep-all;
    white-space: nowrap;
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.contextmenu .contextmenu_item .contextmenu_item_hotkey {
    word-break: keep-all;
    white-space: nowrap;
}

.contextmenu .contextmenu_item .contextmenu_item_arrow {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    margin-right: 4px;
}
