/*
 *****************************************************************
 * root style
 *****************************************************************
 */

.contextmenu {
    overflow: auto;
    padding-top: 8px;
    padding-bottom: 8px;

    /* no select */

    /* moz-user-select: -moz-none; */
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
 *****************************************************************
 * divier style
 *****************************************************************
 */

.contextmenu .contextmenu_divider hr {
    height: 1px;
}

/*
 *****************************************************************
 * item style
 *****************************************************************
 */

.contextmenu .contextmenu_item {
    /* 居中 */
    padding: 3px;
}

.contextmenu .contextmenu_item_selected {
    pointer-events: auto;
}

.contextmenu .contextmenu_item_disabled {
    pointer-events: none;
}

.contextmenu .contextmenu_item .contextmenu_item_icon {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    margin: 6px;
}

.contextmenu .contextmenu_item .contextmenu_item_text {
    padding-left: 4px;
    padding-right: 16px;
    flex-grow: 1;
    word-break: keep-all;
    white-space: nowrap;
}

.contextmenu .contextmenu_item .contextmenu_item_hotkey {
    word-break: keep-all;
    white-space: nowrap;
}

.contextmenu .contextmenu_item .contextmenu_item_arrow {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    margin-right: 4px;
}
